body {
  margin: 0;
}

#debug-info > span {
  margin: 0.25em;
}

#editor-container {
  display: grid;

  margin: 0 auto;

  border: black 1px solid;
}

#editor-container > canvas {
  grid-column: 1;
  grid-row: 1;

  height: 100%;
  width: 100%;
}

canvas {
  display: block;

  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#background {
  z-index: -1;
}

#game {
  touch-action: none;
}

#highlight {
  z-index: 1;

  pointer-events: none;
}

#color-container {
  display: flex;

  margin: 0 auto;

  max-width: 640px;
}

#color-container > div {
  width: 50%;
}

#picker {
  display: flex;

  flex-direction: row;
}

#picker-container {
  display: flex;

  flex-direction: column;
}

#picker-preview {
  flex-grow: 1;

  border: black 1px solid;
}

#picker-hex {
  width: 6em;
}

#picker-inputs > div {
  display: flex;
}

#color-values {
  flex-grow: 1;
}

#picker-inputs > div {
  display: flex;
}

#picker-inputs > div > span {
  width: 4em;
}

#picker-inputs > div > input:nth-of-type(1) {
  flex-grow: 1;
  width: 100%;
}

#picker-inputs > div > input:nth-of-type(2) {
  width: 3em;
}

#palette {
  display: flex;

  flex-grow: 1;
}

#palette-buttons {
  display: flex;

  flex-direction: column;

  height: 100%;
}

#palette-buttons > button {
  flex-grow: 1;
}

#palette-colors {
  display: flex;

  flex-grow: 1;

  align-content: flex-start;
  flex-wrap: wrap;

  border: black 1px solid;

  background-color: grey;
}

.palette-color {
  display: inline-block;

  margin: 0.25em;

  border: black 1px solid;

  height: 1.5em;
  width: 1.5em;
}

#modal-container {
  /* display: none; */
  display: flex;

  position: absolute;

  z-index: 10;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  background-color: rgba(225, 225, 225, 0.5);
}

#modal-container > div {
  background-color: white;

  width: 85vw;
  height: 60vh;

  max-width: 650px;
  max-height: 800px;

  padding: 1em;

  overflow-y: auto;
}

.modal.hidden {
  display: none;
}

#settings-modal {
  display: none;
}

#extra-container > div {
  display: none;
}

@media(pointer: coarse) {
  #picker {
    flex-direction: column;
  }

  #picker-container {
    flex-direction: row;
  }
}